In [1]:
input()

 100

'100'

In [3]:
input("enter the number:")

enter the number: 100

'100'

In [7]:
num1=eval(input("enter the number1:"))
num2=eval(input("enter the number2:"))
num3=eval(input("enter the number3:"))
average=(num1+num2+num3)/3
print(f"the average of {num1},{num2} and {num3} is {average}")

enter the number1: 10
enter the number2: 20
enter the number3: 30

the average of 10,20 and 30 is 20.0

In [8]:
num1=eval(input("enter the number1:"))
num2=eval(input("enter the number2:"))
add=num1+num2
print(f"the addition of{num1} and {num2} is {add}")

enter the number1: 10
enter the number2: 20

the addition of10 and 20 is 30

In [12]:
radius=eval(input("enter the number1:"))
pi=eval(input("enter the number2:"))
area_triangle=pi*radius*radius
print(f"the area of triangle is {area_triangle}")

enter the number1: 10
enter the number2: 3.14

the area of triangle is 314.0

In [3]:
num1=100
num2=200
add=num1+num2
print(f" the summ of{add}")

 the summ of300

$input$

** input keywords is used to take the values from user**

In [4]:
input( )

 2

'2'

In [5]:
input('enter the number1:')

enter the number1: 1

'1'

In [6]:
input( )
input( )# lastest value is output

 2
 3

'3'

In [7]:
input('enter the number1:')
input('enter the number2:')
input('enter the number3:')

enter the number1: 10
enter the number2: 20
enter the number3: 30

'30'

In [8]:
num1=input('enter the number1:')
input('enter the number2:')

enter the number1: 1
enter the number2: 2

'2'

In [9]:
num1

'1'

**note**

- input always give the string data type only
- in order to perform maths calculator,we need to convert into numerical format i.e. int or float

In [11]:
input()

 100

'100'

In [12]:
input('enter the number2:')

enter the number2: 200

'200'

In [13]:
a=input('enter the number2:')

enter the number2: 200

In [14]:
a

'200'

In [15]:
num1=input('enter the number1:')
num2=input('enter the number2:')
num1+num2

enter the number1: 100
enter the number2: 200

'100200'

In [16]:
num1=int(input('enter the number1:'))
num2=int(input('enter the number2:'))
num1+num2

enter the number1: 100
enter the number2: 200

300

In [17]:
num1=int(input('enter the number1:'))
num2=int(input('enter the number2:'))
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter the number1: 100
enter the number2: 200

the addition of 100 and 200 is 300

In [18]:
num1=(input('enter the number1:'))
num2=(input('enter the number2:'))
int(num1)+int(num2)

enter the number1: 100
enter the number2: 100

200

$eval$

- eval means evaluate
- eval will take the what ever the number,eval will convert to corresponding data type

In [21]:
num1=eval(input('enter the number1:'))
num2=eval(input('enter the number2:'))
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

enter the number1: 100.4
enter the number2: 100.5

the addition of 100.4 and 100.5 is 200.9